
:root {
  --primary-color: #0056b3;
  --secondary-color: #003d82;
  --input-padding: 4px;
  --input-margin: 5px 0;
  --input-border: 1px solid #ccc;
  --border-radius: 4px;
  --button-padding: 10px;
}

/* Стилизация на формата */
.booking-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: auto; 
  text-align: center; 
}


.booking-form input,
.booking-form select {
  padding: var(--input-padding);
  margin: var(--input-margin);
  border: var(--input-border);
  border-radius: var(--border-radius);
}

.booking-form button {
  padding: var(--button-padding);
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.booking-form button:hover {
  background-color: var(--secondary-color);
}
